* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
}

h3 {
    margin-left: 50px;
    font-size: 25px;
    color: blue;
    margin-bottom: 50px;
}

/* Bài 1: tiền lương */
.bai_1 {
    border: 1px solid black;
    margin-top: 20px;
}

.label_1 {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

.input_1 {
    width: 300px;
    padding: 5px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.button_1 {
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 10px;
    color: white;
    border: none;
    background: red;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Bài 2: trung bình cộng */
.bai_2 {
    border: 1px solid black;
    margin-top: 20px;
}

.label_2 {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

.input_2 {
    width: 200px;
    padding: 5px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.button_2 {
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 10px;
    color: white;
    border: none;
    background: red;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Bài 3: USD => VND */
.bai_3 {
    border: 1px solid black;
    margin-top: 20px;
}

.label_3 {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

.input_3 {
    width: 200px;
    padding: 5px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.button_3 {
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 10px;
    color: white;
    border: none;
    background: red;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Bài 4: Tính chu vi, diện tích hình chữ nhật */
.bai_4 {
    border: 1px solid black;
    margin-top: 20px;
}

/* chu vi */
.label_chuvi {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

.input_chuvi {
    width: 200px;
    padding: 5px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.button_chuvi {
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 10px;
    color: white;
    border: none;
    background: red;
    cursor: pointer;
    margin-bottom: 20px;
}

/* diệN tích */
.label_dientich {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

.input_dientich {
    width: 200px;
    padding: 5px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.button_dientich {
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 10px;
    color: white;
    border: none;
    background: red;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Bài 5: tính tổng 2 ký số */
.bai_5 {
    border: 1px solid black;
    margin-top: 20px;
}

.label_5 {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

.input_5 {
    width: 200px;
    padding: 5px 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.button_5 {
    padding: 10px 20px;
    margin-left: 100px;
    border-radius: 10px;
    color: white;
    border: none;
    background: red;
    cursor: pointer;
    margin-bottom: 20px;
}